@{
    ViewData["Title"] = "Home Page";
}

    <style>

        .body-content{
            padding:0;
            margin:0;
            width: auto;
          
        }
        
    </style>
    
    <div>

        @if(ViewBag.RolID == 1)
        {
        <p>Administrador</p>

        } else if (ViewBag.RolID == 2) {
        <p>Mestro</p>

        } else if (ViewBag.RolID == 3) {
        <p>Alumno</p>
        }

    </div>


<div class="section page header_section">
    <div class="gradient gradient_red_blue gradient_header_section"></div>
    <div class="section_container header_section_container flex_container flex_header_container">
        <div class="text header_text">
            <h1 class="encabezado">Easy Programing Code</h1>
        </div>
        <div class="text body_text flex_item flex_header_item">

            <!--FRASE INICIO - COLOR-->
            <h2 style="color:#FFFFFF;" class="header_quote eslogan">Una Manera mas facil de aprender a Programar!</h2>
        </div>
    </div>
</div>


<div class="section page third_section">
    <a name="nosotros"></a>

    <div class="section_container third_section_container flex_container flex_center">
        <div class="text header_text">
            <h1 class="encabezado2" style="color:#FFFFFF;">Nosotros</h1>
        </div>
        <a href="#link6">
            <div class="feature offer flex_feature_item offer1 fondo1">
                <h2 style="color:#FFFFFF;"> <img class="iconos" src="~/images/imagen.png" width=100 /> Una Imagen vale mas que mil Palabras </h2>
                <<p>
                    Una imagen puede ayudar a que un contenido sea más atractivo y, al mismo tiempo, facilitar el memorizarlo a largo plazo y asociarlo con otros conceptos.
                    Es por ello que estudiar a través de las imágenes es una buena forma de desarrollar el aprendizaje activo y buscar contenido fácil de recordar.
                </p>
            </div>
        </a>
        <a href="#link7">
            <div class="feature offer flex_feature_item offer2 fondo2">
                <h2 style="color:#FFFFFF;"> <img class="iconos" src="~/images/grafica.png" width="100" /> CURSOS</h2>

                <div class="texto_base">
                    <p>Nuestros cursos son enfocados en el mejor entendimiento de los conceptos de manera visual y asi poder tener un conocimiento mas facil de la programacion.</p><br>
                    <p>"El entendimiento es la clave de la innovacion en la programacion"</p>
                </div>
            </div>
        </a>

    </div>
</div>


