@{
    ViewData["Title"] = "Javascript - Do - While";
}
<style>
     body {
    margin-top: 50px;
}
   .contenedor {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    font-size: 15px;
    font-family: sans-serif;
    font-size: 12px;
}

   .divuno {
    background: linear-gradient(-160deg, black, rgb(2,75,110));
    position: relative;
    height: auto;
    width: 100%;
    border-radius: 150px;
    padding-bottom: 20px;
}

   .divdos {
    background: orange;
    position: relative;
    height: 180px;
    width: 97%;
}

.divtres {
    background: linear-gradient(-160deg, rgb(48,151,168), rgb(1,10,147) );
    position: relative;
    height: 180px;
    width: 100%;
    border-radius: 150px;
}

.codigo{
    color:black;
}

</style>

    <div class="contenedor">

        <div class="divuno">
            <div class="texto">
                <h4 class="principal">DO - WHILE</h4>
                <p>Es otra estructura repetitiva, la cual ejecuta al menos una vez su bloque repetitivo, a diferencia del while o del for que podían no ejecutar el bloque. La condición de la estructura está abajo del bloque a repetir, a diferencia del while o del for que está en la parte superior. </p>
            </div>
        </div>

        <div class="divdos">
            <div class="texto2">
                <table>

                    <tr>
                        <td><img class="imagen" src="~/images/Conceptos/dowhile.jpg" alt="" width="145"></td>


                        <td>
                            <h4>ESTRUCTURA DEL CODIGO</h4>
                            <textarea class="codigo" name="textarea" rows="7" cols="73">
              Do {
	          //codigo a repetir mientras la condicion del bucle sea cierta

              } while (condicion);

              //continuacion del programa
            </textarea>
                        </td>

                    </tr>
                </table>

            </div>
        </div>

        <div class="divtres">
            <div class="texto3">
                <h4>DATO IMPORTANTE</h4>
                <ul>
                    <li>Cuando la condición se evalúa como false, la ejecución continúa con la sentencia posterior al bucle while.</li>

                </ul>
            </div>
        </div>
    </div>