@{
    ViewData["Title"] = "Javascript - If - Else";
}
<style>
   

   .contenedor {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    font-size: 15px;
    font-family: sans-serif;
    font-size: 12px;
    margin-top:80px;
}

   .divuno {
    background: linear-gradient(-160deg, black, rgb(2,75,110));
    position: relative;
    height: auto;
    width: 100%;
    border-radius: 150px;
    padding-bottom: 10px;
}

   .divdos {
    background: orange;
    position: relative;
    height: 180px;
    width: 97%;
}

.divtres {
    background: linear-gradient(-160deg, rgb(48,151,168), rgb(1,10,147) );
    position: relative;
    height: 180px;
    width: 100%;
    border-radius: 150px;
}

.codigo{
    color:black;
}


</style>

    <div class="contenedor">

        <div class="divuno">
            <div class="texto">
                <h4 class="principal">CONDICIONALES IF - ELSE</h4>
                <p>Ejecuta una sentencia si una condición específicada es evaluada como verdadera. Si la condición es evaluada como falsa, otra sentencia puede ser ejecutada.</p>
                <ul>
                    <li>Condición: Una expresión que puede ser evaluada como verdadera o falsa. <br> <br> </li>
                    <li>Sentencia 1: Sentencia que se ejecutará si condición es evaluada como verdadera. Puede ser cualquier sentencia, incluyendo otras sentencias if anidadas.<br> <br> </li>
                    <li>Sentencia2: Sentencia que se ejecutará si condición se evalúa como falsa, y exista una cláusula else, incluyendo otras sentencias if anidadas.<br> <br> </li>
                </ul >
            </div>
        </div>

        <div class="divdos">
            <div class="texto2">
                <table>

                    <tr>
                        <td><img class="imagen" src="~/images/Conceptos/ifelse.jpg" alt="" width="145"></td>


                        <td>
                            <h4>ESTRUCTURA DEL CODIGO</h4>
                            <textarea class="codigo" name="textarea" rows="7" cols="73">
              if (condicion) {
	               // Codigo a ejecutar si la condicon es verdad
               }
              else {
	                // Codigo a ejecutar si la condicon no es verdad
                }
            </textarea>
                        </td>

                    </tr>
                </table>

            </div>
        </div>

        <div class="divtres">
            <div class="texto3">
                <h4>DATO IMPORTANTE</h4>
                <ul>
                    <li>Tenga en cuenta que está if en letras minúsculas. Las letras mayúsculas (If o IF) generarán un error de JavaScript.</li>

                </ul>
            </div>
        </div>
    </div>