@{
    ViewData["Title"] = "Javascript - Tipos de Datos";
}
<style>
     body {
    margin-top: 50px;
}
   .contenedor {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    font-size: 15px;
    font-family: sans-serif;
    font-size: 12px;
}

   .divuno {
    background: linear-gradient(-160deg, black, rgb(2,75,110));
    position: relative;
    height: auto;
    width: 100%;
    border-radius: 150px;
    padding-bottom: 20px;
}

   .divdos {
    background: orange;
    position: relative;
    height: 180px;
    width: 97%;
}

.divtres {
    background: linear-gradient(-160deg, rgb(48,151,168), rgb(1,10,147) );
    position: relative;
    height: 180px;
    width: 100%;
    border-radius: 150px;
}

.codigo{
    color:black;
}

</style>

    <div class="contenedor">

        <div class="divuno">
            <div class="texto">
                <h4 class="principal">TIPOS DE DATOS</h4>
                <p>
                    Todos los lenguajes de programación contienen estructuras de datos, pero estas pueden diferir de un lenguaje a otro y algunas parecerse. <br> <br>
                    <ul>
                        <li>Numericos: En JavaScript, Number es un tipo de datos numérico. <br> <br> </li>
                        <li>Strings: Es una secuencia de caracteres usado para representar el texto. <br> <br> </li>
                        <li>Booleans: es un dato lógico que solo puede tener los valores true o false ( verdadero o falso). <br> <br> </li>
                        <li>Palabras reservadas: Son palabras que no pueden ya ser utilizadas como variables, funciones, métodos o identificadores de objetos.</li>
                    </ul >
                </p>            </div>
        </div>

        <div class="divdos">
            <div class="texto2">
                <table>

                    <tr>
                        <td><img class="imagen" src="~/images/Conceptos/tiposdatos.jpg" alt="" width="145"></td>


                        <td>
                            <h4>ESTRUCTURA DEL CODIGO</h4>
                            <textarea class="codigo" name="textarea" rows="7" cols="73">
                var caja = 42;    //  Numericos 

                var caja = "cafe"; // String

                var caja = true; // Boolean

            </textarea>
                        </td>

                    </tr>
                </table>

            </div>
        </div>

        <div class="divtres">
            <div class="texto3">
                <h4>DATO IMPORTANTE</h4>
                <ul>
                    <li>A diferencia de C, los Strings son inmutables. Hacemos referencia a valores de estos tipos tambien como "valores primitivos".</li>

                </ul>
            </div>
        </div>
    </div>